<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Applications</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>yo apps</h1>
    <br><br>
    <table style="border: 1px solid black;">
        <thead>
            <th>title</th>
            <th>company</th>
        </thead>
        <% applications.forEach(app => { %>
            <tr>
                <td><a href="/users/<%= user._id %>/applications/<%= app._id %>"><%= app.title %></a></td>
                <td><%= app.company %></td>
            </tr>
            <% }); %>
        </table>
        <br><br>
    <a href="/users/<%= user._id %>/applications/new">Add an application</a>
    </body>
</html>